a {
    color: aqua;
    text-decoration: none;
}

/*Прижатие футера*/
* {
margin: 0;
padding: 0;
}
html, body {
    font-family: sans-serif;
    height: 100%;
}
.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
}
.content {
flex: 1 0 auto;
}
.footer {
flex: 0 0 auto;
}

.menu {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.menu li:hover {
    background-color: dodgerblue;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

.header1 {
    font-size: 64px;
    color: #1F3F68;
}

.header2 {
    font-weight: 500;
    font-size: 44px;
    color: #1F3F68;
}

form {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
}

input {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
    width: 250px;
    height: 30px;
    margin: 10px 15px 15px 10px;
}






